.content{
  background-color: #000099;
  font:  'Helvetica', 'Arial';
  text-align: center;

}

h1{
  color: white;

}

ul{
  margin-left: 10%;
  margin-right: 10%;
  padding:0;
}

li{
  list-style-type:none;
  background-color: white;
  margin: 10px;
  border-radius:5px;
  padding: 10px;

}
input, button{
  margin-bottom: 20px;
  padding: 10px;
}
input[type="text"]{
  border-radius:3px;
}

button[type="button"]{
  border-radius:8px;
}
